.ccc-result-title {
	font-weight: var(--font-semibold);
}

.ccc-result-path {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	margin-left: var(--size-2-2);
}

.ccc-result-score {
	color: var(--text-faint);
	font-size: var(--font-ui-smaller);
	float: right;
}

.ccc-result-snippet {
	color: var(--text-muted);
	font-size: var(--font-ui-small);
	margin-top: var(--size-2-1);
	overflow: hidden;
	text-overflow: ellipsis;
}
